:root {
  --main-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px darkblue;
}

body {
  background-color: black;
  font-family: sans-serif;
}
h1 {
  margin-top: 1em;
  padding: 1cm;
  text-align: center;
  color: white;
  text-shadow: var(--main-shadow);
}
h2 {
  margin: 0 0 5px;
  font-size: 28 px;
}
select {
  display: flex;
  justify-content: center;
  margin: auto;
  width: auto;
  font-size: 20px;
  text-shadow: var(--main-shadow);
  border-radius: 15px;
  padding: 6px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  border-radius: 15%;
}
.city {
  display: flex;
  margin: 30px;
  justify-content: space-between;
  color: white;
  text-shadow: var(--main-shadow);
  padding: 15px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.city:last-child {
  border: none;
}
.date {
  opacity: 0.7;
}
.time {
  font-size: 46px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36 px;
}
footer {
  margin-top: 2cm;
  text-align: center;
  font-size: 18px;
  color: white;
  text-shadow: var(--main-shadow);
}
@media (max-width: 600px) {
  .city {
    font-size: 10px;
  }
  .time {
    font-size: 28px;
  }
}
